.container {
  max-width: 600px;
  margin: auto;
  font-family: monospace;
}

.view {
  border: 1px solid black;
  padding: 10px;
}

.utxo_list {
  /*
  margin-left: 20px;
  margin-right: 20px;
  */
  width: 100%;
  color: grey;
  margin-bottom: 30px;
}
.utxo_list_row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.utxo_list_row > * {
  /* flex: 1; */
}
.btn {
  font-family: monospace;
}

.send_view {
  display: flex;
  align-items: stretch;
  width: 100%;
  flex-direction: column;
  gap: 5px;
}
.flex_row {
  display: flex;
  flex-direction: row;
}
.flex_column_center {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.tx_confirm_row {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.bottom_controls {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}

@keyframes blink {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

.saving span {
  animation-name: blink;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.saving span:nth-child(2) {
  animation-delay: 0.2s;
}

.saving span:nth-child(3) {
  animation-delay: 0.4s;
}
