.container {
  max-width: 500px;
  margin: auto;
  font-family: monospace;
}

.view {
  border: 1px solid black;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

.utxo_list {
  margin-left: 20px;
  margin-right: 20px;
  color: grey;
  margin-bottom: 30px;
}

.btn {
  font-family: monospace;
}

.send_view {
  display: flex;
  align-items: stretch;
  width: 100%;
  flex-direction: column;
  gap: 5px;
}
.flex_row {
  display: flex;
  flex-direction: row;
}
